<section class="gradient-form " style="background-color: #eee;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Donation</p>
  
                  <div class="text-center">
                    <img src="../assets/Ellipse 1.png"
                      style="width: 100px;" alt="logo">
                      <br/><br>
                    <h4 class="mt-1 mb-5 pb-1">ZeroFoodWaste</h4>
                  </div>
  
                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail4" style="color: rgb(251, 6, 251); font-size: large;">Place</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4">Pick up destination</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">food type</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose</option>
                          <option>grocery</option>
                          <option>resturants</option>
                          <option>household</option>
                        </select>
                      </div>
                    <div class="form-group col-md-4">
                      <label for="inputAddress">Food title</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Food quantity</label>
                      <input type="number" class="form-control" id="inputAddress2" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Time</label><br>
                      <input type="time" id="appt" name="appt"
                       min="06:00" max="10:00" required>
                      
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" routerLink="/user-details">Donate</button>
                    </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">The food you waste is a meal of other</h4>
                  <p class="small mb-0">We as a team developed a  web application that aimed at connecting individuals and organizations willing to donate excess food with those in need. 
                    It provides a platform to reduce food waste and contribute to the well-being of communities.</p>
                    <br>
                    <h4>THANK YOU FOR DONATING.</h4>
                    <br>
                    <p>Your contribution of food will make a meaningful difference in the lives of those facing adversity. Your kindness is deeply appreciated."</p>
                <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
