<div class="container mt-5 mb-5">
    <img src="" width="100%">
    <h1 class="text-center">About</h1>
    <p>
        A drastic increase can be seen in food waste. As per data given by Food and Agriculture Organization (http://www.fao.org/food-loss-and-food-waste/flw-data), 1/3rd of food produced for human consumption is wasted globally, which accounts for almost 1.3 billion tons per year. 
        On the other hand, also as per WHO 20% of the population face extreme food shortages. 
        Hence there is a need to come up with a solution that can avoid food waste & can help feed the needy.
        <br>
        Our ZeroFoodWaste web application can assist in collecting the leftover food from hotels & restaurants to distribute among those in need. 
        NGOs that are helping poor communities to battle against starvation & malnutrition can raise a request for food supply from restaurants through this application. 
        Once the request is accepted, the NGOs can collect the food from the restaurants for its distribution. 
        In this way our ZeroFoodWaste system will help restaurants to reduce food waste and will help in feeding the poor and needy people.
        <br>
        In this system, we have tried to reduce restaurant, household,grocery stores and functional events food wastage by giving waste food to NGOs. 
        NGOs will raise a request, in case of any leftover food restaurants have. 
        This request is sent to the donors . 
        Then the donor  approves the request and can donate the leftover food. 
        </p>
        </div>
