<div class="container mt-5 mb-5 con">
    <img src="../../assets/Free Vector _ Solidarity concept illustration.jpeg" style="width: 40%;">
     <!-- <h1 style="padding-left: 10%;">Contact</h1><br>  -->
    <div class="con2">
        <h1 style="padding-top: 5%;">Contact</h1><br>
    <form class="lg-8 f">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2 con3">
                <input type="text" class="form-control" placeholder="Enter First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2 con4">
                <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email Id" style="width:300px">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile" style="width:300px">
            </div>
            
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark" style="margin-left:180px">Submit</button>
            </div>
      
        </div>
    </form>
        </div>
    
