<section style="background-color: #f5f0f2;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 12rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                
                <img src="../../assets/8b6aab748b3a430020688dcc12fcad58.jpg"
                  alt="" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%; width: 100%;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                      <span class="h1 fw-bold mb-0">Donor Login</span>
                    </div>
  
                    <!-- <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5> -->
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Name</label>
                      <input type="name" id="form2Example17" class="form-control form-control-lg" style="border-color: blue; border-width: 2%; border-style: solid;" required>
                  </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Address</label>
                      <input type="address" id="form2Example27" class="form-control form-control-lg" style="border-radius: 1rem; border-color: blue; border-width: 2%; border-style: solid;" required>
                     </div>
  
                     <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Mobile Number</label>
                      <input type="mobile number" id="form2Example27" class="form-control form-control-lg" style="border-radius: 1rem; border-color: blue; border-width: 2%; border-style: solid;" required >
                     </div>
  
                    <div class="pt-1 mb-4"><a routerLink="/donar"> <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="border-radius: 1rem;margin-bottom: 5%;">Login</button></a>

                     
                    </div>
  <!-- 
                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                        style="color: #393f81;">Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a> -->
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <router-outlet></router-outlet>
